<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitung Luas dan Keliling Persegi Panjang</title>
</head>
<body>
    <h1>PROGRAM MENGHITUNG LUAS DAN KELILING PERSEGI PANJANG</h1>
    <form action="/calculate" method="post">
        <label>Masukkan panjang:</label><br>
        <input type="number" name="panjang" required><br><br>
        <label>Masukkan lebar:</label><br>
        <input type="number" name="lebar" required><br><br>
        <label>Pilih perhitungan:</label><br>
        <select name="pilihan">
            <option value="1">Luas</option>
            <option value="2">Keliling</option>
            <option value="3">Luas dan Keliling</option>
        </select><br><br>
        <button type="submit">Hitung</button>
    </form>
    
    {% if hasil %}
        <h2>Hasil:</h2>
        <p>{{ proses }}</p>
        <p>{{ hasil }}</p>
    {% endif %}
</body>
</html>
